.grid {
    border: 1px solid black;    
    border-spacing: 0;
    text-align: center;
}

.square {
    margin: 0;
    border: 2px solid #888;
    width: 0.75cm;
    height: 0.75cm;
}

.revealed {
    background: #FFF;
}

.hidden {
    background: #BBB;
}